.page {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.mainContent {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin-bottom: 12px;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 12px;
}

.heading {
  margin: 0;
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  color: var(--dark-text);
}

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: center;
  padding: 0 12px;
}

.fieldInput {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
}

.label {
  font-size: 16px;
  font-weight: 600;
  line-height: 12px;
  color: var(--dark-text);
  text-align: center;
}

.nameInput {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  padding: 8px 20px;
  background-color: var(--light-background);
  font-size: 12px;
  color: var(--dark-text);
  border-radius: 40px;
}

.foods {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.addedFoods {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.foodContainer {
  position: relative;
}

.food {
  position: relative;
  overflow: hidden;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 12px 16px;
  background-color: var(--light-background);
  border-radius: 12px;
}

.select {
  display: none;
  position: absolute;
  top: 12px;
  left: 16px;
  width: 20px;
  height: 20px;
  border: solid 1px var(--dark-text);
  border-radius: 50%;
}

.foodData {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.foodName {
  width: 87px;
  margin: 0;
  font-weight: 600;
  font-size: 16px;
  color: var(--dark-text);
}

.nutritionalData {
  width: 200px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding: 28px 12px;
}

.macro {
  width: 81px;
  border-radius: 12px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  background-color: white;
  box-shadow: 1px 2px 8px 0 rgba(0, 0, 0, 0.125);
  font-size: 12px;
}

.macro:nth-child(n + 1) .amount {
  color: #93c5fd;
}

.macro:nth-child(n + 2) .amount {
  color: #fdba74;
}

.macro:nth-child(n + 3) .amount {
  color: #86efac;
}

.amount {
  font-size: 16px;
  line-height: 12px;
  font-weight: 600;
}

.delete {
  position: absolute;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
  right: 0;
  top: 0;
  background-color: #dc2626;
  border-radius: 0 14px 14px 0;
}

.add {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--light-background);
  padding: 16px;
  border-radius: 12px;
}

.foodInput {
  width: 316px;
  background-color: var(--light-background);
  border-radius: 12px;
  padding: 12px 16px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.quantityContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 40px;
  padding: 8px 20px;
  background-color: #e5e7eb;
  width: 100%;
}

.quantityInput {
  background-color: transparent;
  width: 100%;
  color: var(--light-text);
  font-size: 12px;
  line-height: 12px;
  outline: none;

  appearance: textfield;
  -webkit-appearance: none;
  -moz-appearance: textfield;
}

.quantityInput::-webkit-inner-spin-button,
.quantityInput::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.quantityUnit {
  display: flex;
  background-color: var(--yellow-background);
  padding: 8px;
  border-radius: 16px;
  font-size: 12px;
  line-height: 12px;
}

.buttonsContainer {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.addingButton {
  display: flex;
  background-color: var(--yellow-background);
  padding: 12px;
  border-radius: 20px;
}

.cancelAdding {
  display: flex;
  background-color: #FECACA;
  padding: 12px;
  border-radius: 20px;
}
.cancelIcon {
  width: 20px;
  height: 20px;
}

.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.confirm {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  background-color: var(--yellow-background);
  border-radius: 12px;
  color: var(--dark-text);
  font-weight: 600;
}

@media (min-width: 1440px) {
  .backSign {
    display: none;
  }

  .heading {
    font-size: 48px;
  }

  .main {
    padding: 24px;
  }

  .fieldInput {
    flex-direction: column;
    align-items: flex-start;
  }

  .label {
    font-size: 24px;
  }

  .nameInput {
    font-size: 24px;
    padding: 4px 40px;
  }

  .foods {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    gap: 24px;
  }

  .addedFoods {
    width: auto;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    gap: 24px;
  }

  .food {
    width: auto;
  }

  .foodData {
    flex-direction: column;
  }

  .nutritionalData {
    width: auto;
    padding: 24px 0px;
  }

  .add {
    width: 298px;
    height: 158px;
  }

  .select {
    display: block;
  }

  .footer {
    width: auto;
  }

  .confirm {
    padding: 12px 40px;
    font-size: 24px;
  }
}
