.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 8px;
  gap: 24px
}

.daysBar {
  width: 100%;
}

.daysContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 30px;
}

.day {
  display: flex;
  width: 32px;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding: 4px;
  gap: 4px;
  color: var(--dark-text);
  font-size: 12px;
  border-radius: 4px;
}

.hidden {
  display: none;
}

.day.active {
  background-image: linear-gradient(132deg, rgba(234, 179, 8, .5), rgba(253, 224, 71, .3));
}

.day p {
  border-radius: 8px;
  padding: 4px;
  text-align: center;
}

.badge {
  background-color: #EAB308;
  color: #F8F9FA;
}

@media screen and (min-width: 1440px) {
  .main {
    padding: 20px;
  }
  .daysContainer {
    gap: 24px;
  }
  .day {
    width: 48px;
    padding: 8px;
    font-size: 16px;
  }
  .day p {
    padding: 0;
  }
  .day p:nth-child(2) {
    padding: 8px;
  }
}