body {
  display: flex;
  flex-direction: column;
  max-width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

input {
  border: none;
  outline: none;
  background-color: transparent;
  color: inherit;
  flex: 1;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}