.layout {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
}

.header {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 12px 12px;
}

.heading {
  margin: 0;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  color: #343A40;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 0px 12px;
}

.mealName {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
}

.mealNameText {
  font-weight: 600;
  font-size: 16px;
  margin: 0;
  line-height: 12px;
  color: #343A40;
}

.nameInput {
  display: flex;
  flex: 1;
  flex-direction: row;
  padding: 8px 20px;
  border-radius: 40px;
  background-color: #F3F4F6;
  border: none;
}

.foods {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.addedFood {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 12px 16px;
  background-color: #F3F4F6;
  border-radius: 12px;
}

.foodName {
  font-weight: 600;
  font-size: 16px;
  margin: 0;
  line-height: 12px;
  color: #343A40;
}

.nutritionalData {
  max-width: 200px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 12px 0;
  gap: 12px;
}

.macro {
  border-radius: 12px;
  width: 81px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 12px 12px;
  background-color: #FFFFFF;
  box-shadow: 1px 2px 8px 0px rgba(0, 0, 0, .125);
  line-height: 12px;
  font-weight: 600;
}

.macroName {
  font-size: 12px;
  font-weight: 400;
  color: #343A40;
}

.carboQuantity {
  color: #93C5FD
}

.proteinQuantity {
  color: #FDBA74
}

.fatQuantity {
  color: #86EFAC
}

.addButton {
  width: 100%;
  border-radius: 12px;
  background-color: #F3F4F6;
  display: flex;
  justify-content: center;
  padding: 16px 0;
  border: none;
  cursor: pointer;
}

.addingFood {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 12px 16px;
  background-color: #F3F4F6;
  border-radius: 12px;
}

.quantityContainer {
  width: 100%;
  color: #68717A;
  background-color: #E5E7EB;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 8px 20px;
  border-radius: 40px;
}

.quantityInput {
  outline: none;
  background-color: transparent;
  font-size: 12px;
  -moz-appearance: textfield;
  appearance: textfield;
}

.quantityInput::-webkit-inner-spin-button,
.quantityInput::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.quantityUnit {
  width: 35px;
  height: 35px;
  font-size: 12px;
  background-color: #FEF08A;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 8px;
}

.buttonsContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.addingButton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 12px;
  border-radius: 20px;
  background-color: #FEF08A;
}

.cancelAddingButton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 12px;
  border-radius: 20px;
  background-color: #FECACA;
}

.footer {
  width: 100%;
}

.confirmButton {
  width: 100%;
  border-radius: 12px;
  padding: 12px 0;
  display: center;
  justify-content: center;
  background-color: #FEF08A;
  font-weight: 600;
  font-size: 16px;
  color: #343A40;
  border: none;
}

@media (min-width: 1440px) {
  .backSign {
    display: none;
  }

  .heading {
    font-size: 48px;
  }

  .mealName {
    flex-direction: column;
    align-items: flex-start;
  }

  .nameInput {
    width: 300px;
  }

  .foods {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 48px;
  }

  .addedFood {
    width: fit-content;
    flex-direction: column;
    gap: 10px;
  }

  .nutritionalData {
    max-width: fit-content;
    padding: 34px 0;
  }

  .addButton {
    width: fit-content;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 142px ;
  }

  .addingFood {
    width: 299px;
    height: 100%;
  }

  .footer {
    width: 304px;
  }
}