.currentMealsContainer {
  width: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.topButton {
  width: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  background-color: #FEF08A;
  border: none;
  border-radius: 12px;
  padding: 4px 24px;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25), 0px 1px 2px -1px rgba(0, 0, 0, 0.25);
}

.topButton:active {
  transition: scale 0.2s linear;
  scale: 0.95 !important;
}

.topButton:hover {
  transition: scale 0.2s linear;
  scale: 1.05;
  cursor: pointer;
}

.addMealTopButton {
  display: none;
}

.startDayText {
  font-size: 16px;
  color: #030712;
}

.mealCardsContainer {
  width: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 24px;
}

.notFoundText {
  margin: 0;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.mealCardContainer {
  box-sizing: border-box;
  padding: 12px 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  background-color: #F9FAFB;
  border-radius: 16px;
}

.mealName {
  margin: 0;
  font-size: 12px;
  line-height: 12px;
  font-weight: 600;
  display: flex;
  align-items: center;
}

.mealName:hover {
  cursor: pointer;
}

.mealActions {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.mealEdit {
  margin: 0;
  padding: 6px 12px;
  background-color: #FEF08A;
  border: none;
  border-radius: 8px;
}

.mealDelete {
  margin: 0;
  padding: 6px 12px;
  background-color: #FECACA;
  border: none;
  border-radius: 8px;
}

.footerContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.footerButton {
  background-color: #FEF08A;
  padding: 16px;
  border: none;
  border-radius: 50%;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25), 0px 1px 2px -1px rgba(0, 0, 0, 0.25);
}

.footerButton:active {
  transition: scale 0.2s linear;
  scale: 0.9;
}

@media (min-width: 1400px) {
  .currentMealsContainer {
    box-sizing: border-box;
    padding: 12px 48px;
    gap: 48px;
  }

  .currentTopContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  .topButton {
    text-align: center;
    font-size: 24px;
    padding: 8px 20px;
  }

  .topButton img {
    width: 20px;
    height: 20px;
  }

  .addMealTopButton {
    display: flex;
  }

  .mealCardsContainer {
    display: grid;
    grid-template-columns: repeat(2, 500px);
    grid-template-rows: repeat(auto-fill, 80px);
    justify-content: space-between;
    row-gap: 24px;
  }

  .mealCardContainer {
    height: fit-content;
  }

  .mealName {
    font-size: 28px;
    line-height: 28px;
  }

  .mealActions img {
    width: 16px;
    height: 16px;
  }

  .footerContainer {
    display: none;
  }
}