.loginContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: space-between;
  padding: 32px;
}

.illustrationContainer{
  display: flex;
  justify-content: center;
}

.slogan {
  font-weight: 700;
  font-size: 24px;
  color: #343A40;
  text-align: center;
}

.sloganAction {
  font-weight: 400;
  font-size: 16px;
  color: #68717A;
  text-align: center;
}

.button {
  padding: 10px 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border: none;
  border-radius: 6px;
  background-color: #FFE69C;
}

.button:hover {
  cursor: pointer;
  background-color: #f6d97f;
}

.button:active {
  opacity: 0.8;
}

.buttonText {
  font-weight: 600;
  font-size: 16px;
  color: #343A40;
}

@media screen and (min-width: 1440px) {
  .loginContainer {
    justify-content: flex-start;
    align-items: center;
    gap: 64px;
  }

  .slogan {
    font-size: 72px;
    margin: 8px 0;
  }

  .sloganAction {
    font-size: 24px;
  }

  .image {
    width: 400px;
    height: 400px;
  }

  .button {
    max-width: 300px;
    padding: 16px 24px;
  }
}